.container-pokemon {
  background-color: #0866f3;
  border-radius: 20px;
  width: 860px;
}

.poke-image {
  width: 200px;
}

.card-pokemon {
  background-color: #f1ff9d;
  border-radius: 20px;
  width: 300px;
}

p {
    font-size: 1.5rem;
    font-weight: 600;
}
